<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Hello World</title>
	<script type="text/javascript" src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue"/>  //v-model:双向数据绑定
        <button v-on:click = "handleBtnClick">提交</button>
        <ul>
            <li v-for="item in list">{{item}}</li>
        </ul>
    </div>
    <script >
        var app = new Vue({
            el: '#app',
            data:{
                list: [],
                inputValue:''
            },
            methods:{
                handleBtnClick: function(){
                    this.list.push(this.inputValue);
                    this.inputValue='';
                    //alert(this.inputValue)   //data里的inputvalue
                }
            }
        })
    </script>
</body>
</html>