<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Vue中的条件渲染2</title>
	<script type="text/javascript" src="./vue.js"></script>
</head>

<body>
    <div id="app">
        <div v-if="show==='a'">This is A</div>  <!-- //v-if="false" 不渲染元素  --> 
        <div v-else-if="show==='b'">This is B</div> <!--  //v-if和v-else要在连在一起使用 -->
        <div v-else>This is others</div> <!-- //v-show="false"的display设为none,渲染 -->
    </div>
     <script>
         var vm = new Vue({
            el: '#app',
            data:{
                show:"a",
                message:"Hello World"
            }

         })
     </script>
</body>
</html>