<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>v-once指令</title>
	<script type="text/javascript" src="./vue.js"></script>
</head>

<body>
    <div id="root">
          <child-one v-if="type==='child-one"></child-one>
          <child-two v-if="type==='child-two"></child-two>
          <button @click="handleBtnClick">change</button>
    </div>

     <script>
          Vue.component('child-one',{ 
               template:'<div v-once>child-one</div>'   
               //不用时放在内存里，再用时不需要重新创建该组件，只需要在内存里拿出来即可，可以有效提高性能
          })  

          Vue.component('child-two',{ 
               template:'<div v-once>child-two</div>'
          })  

          var vm = new Vue({
               el:'#root',
               data:{
                   type:'child-one'
               },
               methods:{
                handleBtnClick:function(){
                    this.type = this.type==='child-one'?'child-two':'child-one';
                }
               }
          })
     </script>
</body>
</html>